{% extends 'base.html' %}
{% block content %}
    <ul class="collection">
        {% for picture in collection %}
            <li>
                <a href="{% url 'picture_details' picture.id %}">
                    <img src="{{ picture.url }}" alt="{{ picture.title }}">
                </a>
                <h2>{{ picture.title }} by {{ picture.artist }}</h2>
                <p class="comment_info">Comments: {{ picture.comments.count }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}