<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for picture in collection %}
    <ul>
        <li>
            <p>{{ picture.title }} by {{ picture.artist }}</p>
            <img src="{{ picture.url }}" alt="{{ picture.title }}">
            <p>Comments: {{ picture.comments.count }}</p>
        </li>
    </ul>
    {% endfor %}
</body>
</html>