* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    max-width: 1280px;
}

h1, h3 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 1em;
}

li {
    margin: 0 auto;
    border: 2px solid;
    border-color: lightgray;
    padding: 1em;
}

img {
    width: 100%
}

textarea {
    margin: 1em 0;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 0.5em;
}

.collection {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 0;
}

.field label {
    display: block;
}

.comment_info {
    font-size: 0.8em;
}

.details_title {
    font-size: 2em;
}

.comments {
    list-style-type: none;
    padding: 0;
}

.field {
    margin: 1em;
}

.submit_comment{
    margin: 1em;
}

.details {
    margin: 0 auto;
    max-width: 80%;
}

@media screen and (max-width:992px){
    .collection {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px){
    .collection {
        display: block;
    }
    
    li {
        margin: 1em 0;
    }

    .details {
        max-width: 100%;
}